@using CardsAgainstMadLibs.Models
@model Card

<img id="cardslogosm" src="~/images/cards_against_white_crop.png" alt="cards against logo"/>
<img id="madlibslogosm" src="~/images/madlibs.png" alt="cards against logo"/>
<h1 class="cardtitle mt-5">Card title/theme</h1>
<form asp-action="SubmitCard" asp-controller="Game" asp-method="POST">
    <div class="row">&nbsp;</div>
    <div class="row mt-3">
        <label class="hide-me col-4 titlecolumn">Verb</label>
        <input class="hide-me col-5" id="userInput"/>

        
        <input style="display: none" type="button" id="PROTO" class="show-me btn btn-light center" value="Reset??">

    </div>
    <div class="row mt-3">
        <label class="hide-me col-4 titlecolumn">Noun</label>
        <input class="hide-me col-5" id="messageInput"/>
    </div>
    <div class="row mt-3">
        <input type="hidden" class="col-5" id="string1" value="@Model.String1"/>
        <input type="hidden" class="col-5" id="string2" value="@Model.String2"/>
        <input type="hidden" class="col-5" id="string3" value="@Model.String3"/>
    </div>
    <div class="row">&nbsp;</div>
    <div class="d-flex flex-row mt-3 justify-content-end">
        <div class="col-4 mr-4">
            <input type="button" id="sendButton" class="hide hide-me btn btn-light center" value="Submit Card">
        </div>
    </div>
</form>

    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
            
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.hide').click(function(){ 
            $('.hide-me').hide()
        });
        $('.hide').click(function(){
            $('.show-me').show()
        });  
    });

  

</script>