<!-- <h1>Welcome Page</h1> -->
<img id="cardslogosm" src="~/images/cards_against_white_crop.png" alt="cards against logo"/>
<img id="madlibslogosm" src="~/images/madlibs.png" alt="cards against logo"/>
<h5 class="mt-5">Game Description:</h5>
<p>
    Cards Against Madlibs is a cross between America's two favorite games "Cards Against 
    Humanity" and "Madlibs". Instead of one player drawing a black card and reciving white cards,
    each player is given a "handful" of blank words to fill out and the black card is then
     generated with your words filled in. This game is great for any occasion! 
    As long as you have a computer and a decent internet connection. And more importantly friends... 
</p>
<h5>Rules:</h5>
<p>
    Type in a word in each "blank" spot next to the "clue" then click the 'Submit Card' 
    button. Read each card below and vote for your favorite card. 
    Vote by clicking on the desired card before time runs out. 
    After everyone votes or time runs out, the player with the most votes is declared the 
    winner. If there is a tie then all the players in the tie are winners! If you are one
     of those people that need an absolute winner then find each player and have them
     leg wrestle to see you is the "Real" winner. Once the game is over a click the 'Play Again'
     button to restart a new game. And the MOST important rule of all: 
</p>
<h3>
     <span style="color: red">H</span><span style="color: orange">A</span><span style="color: yellow">V</span><span style="color: green">E</span> 
     <span style="color: blue">F</span><span style="color: indigo">U</span><span style="color: Violet">N!!</span> 
</h3>
<a href="/card" class="btn btn-light mt-3">Play!</a>